<nz-layout class="app-layout" *ngIf="auth.loaded" [@slide]>
  <nz-progress  [nzFormat]="newFormat" class="progress-bar" *ngIf="isLoggedIn && isProfilSet" [nzStrokeColor]="{ '0%': 'dodgerblue', '40%': 'cyan', '100%': 'gold' }" [nzPercent]="progress" [nzStrokeWidth]="'25'"></nz-progress>


  <span *ngIf="isLoggedIn && isProfilSet" (click)="showaddFluctualModal()" class="add-button" nz-icon nzType="swap" nzTheme="outline"></span>
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="" >
        <img src="assets/logo.svg" alt="logo">
        <h1>Gestion Argent</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Fond" nzIcon="fund" *ngIf="isLoggedIn">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/transactions">
              <span nz-icon nzType="swap" nzTheme="outline"></span> Transactions
            </a>
          </li>
          <li nz-menu-item nzMatchRouter >
            <a routerLink="/dashboard">
              <span nz-icon nzType="bar-chart" nzTheme="outline"></span> Dashboard
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Authentication" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter *ngIf="!isLoggedIn">
            <a (click)="auth.SignIn()"><span nz-icon nzType="login" nzTheme="outline"></span> Login</a>
          </li>
          <li nz-menu-item nzMatchRouter *ngIf="isLoggedIn">
            <a (click)="auth.SignOut()"><span nz-icon nzType="logout" nzTheme="outline"></span> Logout</a>
          </li>
          <li nz-menu-item nzMatchRouter *ngIf="isLoggedIn">
            <a routerLink="/profil">
              <span nz-icon nzType="user" nzTheme="outline"></span> Profil
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout >
<div class="loading-container" *ngIf="!auth.loaded" [@slideLeft]>
  <span nz-icon nzType="loading" nzTheme="outline" style="font-size: 90px; color: blue;"></span>
</div>
